/* mis listas */


nav,.offcanvas-bg{
        background-color: #212121;
    }




body {background-color: #181818;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

h1 {color: white;
    text-align: center;
    font-size: 50px;}

.crearL {text-align: right;}

#crearL {background-color: #5721a9;
        font-size: 14px;
        color: white;
        margin: 0px 42px;
        padding: 5px 20px;
        border-radius: 10px;
        text-align: left;}

#crearL:hover {background-color: #4C1D95;}

section {color: white;
        font-size: 16px;
        margin: 20px;}

.listas {padding: 40px;
        display: flex;
        justify-content: space-between;
        margin: 40px;
        border-radius: 20px;
        background-color: #5c5858;}

.borrar {border-color: red;
        border-radius: 10px;
        padding: 4px 20px 3px 20px;
        background-color: #5c5858;
        color: white;
        font-size: 16px;}

/* #borrar {border-color: red;
        border-radius: 10px;
        padding: 4px 20px 3px 20px;
        background-color: #5c5858;
        color: white;
        font-size: 16px;} */

.borrar:hover {
        background-color: red;
        transition: all 0.15s;
}

/* portada */

.portada {background-image: url(fondo.jpg);
        background-size: cover;}

.principal {color: white;
            text-align: center;
            font-size: 50px;
            margin-top: 150px;}

h2 {text-align: center;
    color: white;}

.comenzar {text-align: center;}

#comenzar {border-radius: 15px;
            padding: 5px 10px;
            border-color: white;
            background-color: #5721a9;
            color: white;}

#comenzar:hover {background-color: #4C1D95;}