.btn-purple, .bg-purple{
    background-color: #5721a9;
}
.btn-purple:hover{
    background-color: #4C1D95;
}
body{
    background-color: #181818;
}
nav,.offcanvas-bg{
    background-color: #212121;
}

.border-purple{
    border-color: #5721a9 !important;
}
.game-card{
    transition: all 0.5s;
}
.game-card:hover{
    transform: scale(1.05);
}
.options{
    opacity: 0;
    transition: all 0.5s;
}
.game-card:hover .options{
    opacity: 1;
}